[Unit]
Description=Sistema de Nutricion Marifer Utrilla
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/sistema-nutricion
EnvironmentFile=/opt/sistema-nutricion/.env
Environment="PATH=/opt/sistema-nutricion/venv/bin"
ExecStart=/opt/sistema-nutricion/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
